*.class
*target
/target/
!.mvn/wrapper/maven-wrapper.jar
**/generated-*
**/maven-status/
**/surefire-reports/
*.log
*.jar

__MACOSX/
.DS_Store
*.swp

.idea/
*.iml
*.classpath
*.project
*.settings/
.vscode/